<!-- views/index.ejs -->

<% layout('layout') -%>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-search"></span> Instagram API</h1>
		
		<% if ( (typeof ig_user != "undefined") && ig_user && ig_user.user) { %>
			<span class="fa btn"><%= ig_user.user.username %></span>
			<a href="/logout_ig" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
		<% } else { %>
			<a href="/login_ig" class="btn btn-default"><span class="fa fa-user"></span> Authorize</a>
		<% } %>
    </div>

</div>
