
<!-- show any messages that come back with authentication -->
<% if ( (typeof message != "undefined") && message && message.length > 0) { %>
	<div class="container">
		<div class="jumbotron text-center">
			<div class="alert"><%= message %></div>
		</div>
	</div>
<% } %>
<% if ( (typeof errors != "undefined") && errors && errors.length > 0) { %>
	<div class="container">
		<div class="jumbotron text-center">
			<div class="alert alert-danger"><%= errors %></div>
		</div>
	</div>
<% } %>